{% extends 'base/index.html' %}
{% block title %}Login{% endblock title %}

{% block content %}
    <div class="header-bar">
        <h1>TodoApp Login</h1>
    </div>

    <div class="card-body">
        <form action="" method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn button">Login</button>
        </form>
        <br>
        <p class="link">Don't have an account? <a href="{% url 'register' %}">Register</a></p>
    </div>
{% endblock content %}
